<%= link_to "< Wróc do wszystkich pytan", questions_path %>
<h1>Odpowiedzi na pytanie</h1>

<h2><%= @question.title %></h2>
<h4><%= @question.body %></h4>

<%= link_to "Dodaj odpowiedz", new_question_answer_path(@question), class: "btn btn-success" %>

<% @question.answers.each do |answer| %>
  <div class="card my-2" style="">
    <div class="card-body">
      <p class="card-text"><%= answer.body %></p>
    </div>
  </div>
<% end %>
