<%= link_to "< Wróc do pytania", question_path(@question) %>
<h1>Odpowiadasz na pytanie</h1>
<h3><%= @question.title %></h3>

<%= simple_form_for [@question, @answer] do |f| %>
<%= f.input :body %>
<%= f.input :question_id, as: :hidden %>
<%= f.button :submit %>
<% end %>
